<!DOCTYPE html>
<html lang="en">

  <head>
    <% include base/head %>
  </head>

  <body>

    <header>
      <% include base/header %>
    </header>
    <% include base/table %>
    <% include base/foot %>

  </body>
</html>
