<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Admin Panel</title>
<link href="/resources/bootstrap.min.css" rel="stylesheet">
<link href="/resources/dashboard.css" rel="stylesheet">
