<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <!-- <ul class="nav nav-pills flex-column">
        <% events.forEach(event => { %>
          <li class="nav-item">
              <a class="nav-link" active" href="/admin/event/<%= event.Id %>"> <%= event.name %> </a>
          </li>
          <% }); %>
      </ul> -->
    </nav>
  </div>
</div>



